.search-bar {
    margin-bottom: 2rem;
}

.search-input-container {
    position: relative;
    max-width: 400px;
    display: flex;
}

.search-input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 2px solid #e9ecef;
    border-radius: 25px;
    font-size: 1rem;
    transition: all 0.3s;
    background: white;
}

.search-input:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.search-input::placeholder {
    color: #6c757d;
}

.clear-button {
    position: absolute;
    right: 12rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #6c757d;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.clear-button:hover {
    background: #e9ecef;
    color: #495057;
}

.custom-select {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 320px;
}

.custom-select select {
    width: 65%;
    appearance: none; /* Убираем стандартную стрелку */
    background-color: #ffffff;
    border: 2px solid #e0d6ff; /* Светло-фиолетовая рамка */
    border-radius: 12px;
    padding: 10px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%238A2BE2'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 18px;
}

.custom-select select:hover {
    border-color: #b19cd9; /* Насыщенный светло-фиолетовый */
}

.custom-select select:focus {
    outline: none;
    border-color: #8A2BE2; /* Яркий фиолетовый */
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.2);
}

.custom-select select:disabled {
    background-color: #f8f6ff;
    color: #aaa;
    cursor: not-allowed;
    border-color: #e0d6ff;
}


@media (max-width: 768px) {
    .search-input-container {
        max-width: 100%;
    }
}